// Tailwind
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Reset
@import "./reset.scss";

// Main
@import "./variables.scss";

// Viewport and breakpoints
@import "./_breakpoints.scss";

// Pages
@import "../pages/Header/_styles.scss";
@import "../pages/Home/_styles.scss";
@import "../pages/About/_styles.scss";
@import "../pages/Projects/_styles.scss";
@import "../pages/Tech/_styles.scss";
@import "../pages/Contact/_styles.scss";

// Components
@import "../components/Form/_styles.scss";
@import "../components/Input/_styles.scss";
@import "../components/SocialMedia/_styles.scss";


html {
  background-size: 400%;
  scroll-behavior: smooth;
  animation: bg-animation 20s infinite alternate;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  text-align: center;
}

// @keyframes bg-animation {
//   0% {
//     background-position: left;
//     background: linear-gradient(122.29deg,
//       #fee6d9 0%,
//       #fddad1 33.96%,
//       #f2cbcc 55.9%,
//       #dac1c6 78.89%,
//       #b1afb5 100%,
//     );
//   }
//   100% {
//     background-position: right;
//   }
// }

// body {
//   position: relative;
//   overflow-x: hidden;
//   -webkit-text-size-adjust: 100%;
// }

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

h1 {
  font-size: $x-large;
}

h2 {
  font-size: $large;
}

h3 {
  font-size: $medium;
}

p {
  color: $primary-light;
  padding: 10px;
  font-size: $small;
}

.main-body {
  position: sticky;
  top: calc(-100vh + 64px);
  height: 100vh;
  width: 100%;
  background: linear-gradient(122.29deg,
    #fee6d9 0%,
    #fddad1 33.96%,
    #f2cbcc 55.9%,
    #dac1c6 78.89%,
    #b1afb5 100%,
  );
  z-index: 1;
}

.main-content {
  margin: auto;
  width: 800px;
  padding-top: 180px;
  padding-bottom: 10px;
}

.body-content {
  padding-top: 80px;
  margin-bottom: 75px;
  // padding-bottom: 10px;

  // @include sm {
  //   // margin: auto;
  //   // width: 800px;
  // }
}

.heading {
  color: #645f6b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 3rem;
}