.sticky {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 0 1rem;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

// .sticky {
//   margin-bottom: 400px;
// }

.logoLink {
  display: flex;
  align-items: center;
  color: $primary-light;
  text-decoration: none;
  cursor: pointer;
}

.logoImage {
  opacity: 0.75;
  width: 58px;
  height: auto;
  margin-left: 10px;
}

.anchorLinks {
  display: none;
  scroll-behavior: smooth;
  
  @include sm {
    float: right;
    cursor: pointer;
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
  }

  &--items {

    @include sm {
      margin-left: 0.5rem;
      text-decoration: none;
      display: inline-block;
      color:$primary-light;
      transition: letter-spacing 350ms ease;
      
      &:hover, &:active {
        letter-spacing: 5px;
        transition: letter-spacing 350ms ease;
      }
      &::after, &::before {
        backface-visibility: hidden;
        border: 1px solid rgba($secondary, 0);
        content: "";
        display: block;
        margin: 4px auto;
        position: relative;
        transition: all 800ms ease;
        width: 0;
      } 
      &::after {
        bottom: 0;
      }
      &::before {
        top: 0;
      }
      &:hover {
        &::after, &::before {
          border-color: $secondary;
          transition: width 350ms ease;
          width: 60%;
        }
      }
    }
  }
}

.hamburger {
  float: right;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  padding: 15px;
	filter: invert(39%) sepia(6%) saturate(735%) hue-rotate(223deg) brightness(92%) contrast(86%);

  &:hover {
    cursor: pointer;
  }

  @include sm {
    display: none;
  }
}

.active {
  display: block;

  &.hamburger {
    filter: invert(75%) sepia(4%) saturate(256%) hue-rotate(219deg) brightness(94%) contrast(90%);
  }

  &.anchorLinks {
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 1;
    padding: 75px 25px 55px 25px;
    background-color: $primary-light;
    opacity: 0.8;
    backdrop-filter: blur(40px);
    
    &--items {
      padding: 25px;
      color: $secondary;
      transition: letter-spacing 350ms ease;

      &:hover, &:active {
        background-color: $secondary;
        color: $primary-light;
        letter-spacing: 5px;
        transition: letter-spacing 350ms ease;
      }
    }
  }
}